[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
django-heroku = "*"
requests = "*"
django-crispy-forms = "*"
paramiko = "*"
openpyxl = "*"
django-core = "*"
django-docutils = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-dotenv = "*"
django = "*"
dj-database-url = "*"

[requires]
python_version = "3.9"
